python = ">=3.8, <3.10"
gudhi = "^3.4.1"
tqdm = "^4.62.3"
sklearn = "^0.0"
scipy = "^1.7.1"
matplotlib = "^3.4.3"
velour = "^2020.11.18"
ipython = "^7.28.0"
tensorflow = "^2.6.0"
dill = "^0.3.4"
multiprocess = "^0.70.12"
pathos = "^0.2.8"
pandas = "1.3.3"
seaborn = "^0.11.2"
xgboost = "^1.5.0"
trimesh = "^3.9.35"
Rtree = "^0.9.7"
